.header{
    display: flex;
    justify-content: space-between;
    border: solid 1px gray;
}

.logo-container > img{
    width: 100px;
    height: 80px;
}
.nav-items{
    padding-right: 10px;
}
.nav-items > ul{
    display: flex;

}
.nav-items > ul > li{
    margin:20px;
    list-style: none;
    
}

.nav-items > ul >  .header-link{
text-decoration: none;
}

.res-container{
 display: flex;
 flex-wrap: wrap;
 
 padding: 10px 55px;
}

.res-card{
    margin: 6px;
    width : 250px;
    
    background-color: #f0f0f0;
    padding: 5px;
}

.res-card:hover {
    cursor: pointer;
    border:  1px solid gray;
}
.res-card > img{
    width: 100%
}

.filter-container{
display: flex;
justify-content: space-between;
}
 .search-container{
   margin: 4px 0px 0px 0px;
 }

 .search-btn{
    margin: 5px;
 }
.filter-btn{
    margin: 4px 0px 0px 0px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 5px;
}