.header{
    display: flex;
    justify-content: space-between;
    border: solid 1px gray;
}

.logo-container > img{
    width: 100px;
    height: 80px;
}
.nav-items{
    padding-right: 10px;
}
.nav-items > ul{
    display: flex;

}
.nav-items > ul > li{
    margin:20px;
    list-style: none;
}

.res-container{
 display: flex;
 flex-wrap: wrap;
 padding-left: 10px;
}

.res-card{
    margin: 4px;
    width : 200px;
    
    background-color: #f0f0f0;
    padding: 5px;
}

.res-card:hover {
    cursor: pointer;
    border:  1px solid gray;
}
.res-card > img{
    width: 100%
}